*.deb
*.build
*.changes
*.pyc
*.swp
*.swo
*.[oas]
*.log
*.bin
*.diff
*.dat
*.csv
*~

node_modules

*-stamp

# Virtualenv
venv

.DS_Store
.project
.idea

.objs
.tox
.coverage
tmp
*.egg-info
nosetests.xml
MANIFEST

*.xcodeproj
*.xcsettings
*.xcscheme
*.plist
*.pbxproj
*.xcuserstate
*.xcbkptlist
.vscode

